.App {
  height: 100vh;
  color: #F6F6F6;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  background-color: #232323;
}

.top-bar {
  background-color: #1b1b1b;
  width: 100%;
  margin-bottom: 20px;
}

.App-logo {
  height: 32px;
  padding: 10px;
}
